snippet reactclass "create class/component" b
import React from 'react'

export default React.createClass({
	render () {
		return (
			${VISUAL}$2
		)
	}
})
$0
endsnippet

snippet des "Describe (js)" b
describe('${VISUAL}$1', () => {
	$0
})
endsnippet

snippet it "it (js)" b
it('${VISUAL}$1', () => {
	$0
})
endsnippet

